*{
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  padding: 4px;
  margin: 4px;
}
ul{
  list-style-type: none;
  border-style: none;
  text-align: center;
}
ul a{
  list-style: none;
  color: #3e3d3d;

}